.second-line{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.post-title{
    text-align: center;
    padding: 10px;
}
.post-wrapper{
    padding: 25px;
}
.btn{
    padding: 10px 15px;
    background-color: red;
    cursor: pointer;
    color: white;
}
.post-text{
    padding: 10px;
}
.liked{
    margin-left: 10px;
    margin-top: 10px;
}
.counter{
    padding: 10px 0px;
    font-size: 15px;
}
.comment{
    width: 50%;
    padding-bottom: 50px;
    margin-left: 10px;
}